@font-face {
    font-family: frutiger;
    src: url(../fonts/Frutiger/FrutigerLTStd-Cn.otf) format("opentype");
}

body {
    background-color: #000000;
    font-family: 'Frutiger';
    color: #ffffff;
    margin: 0;
}

header {
    width: 100%;
    height: 90px;
    background-color: #000000;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0px;
}

#logo {
    width: max(350px);
    height: max(200px);
    aspect-ratio: 30 / 15;
    padding: 10px, 0;
    margin-left: -40px;
    margin-top: 50px;
}

h1,
h2 {
    font-family: 'Raleway', sans-serif;
}

p {
    font-family: frutiger;
}

nav {
    max-width: 700px;
    height: 50px;
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    position: absolute;
    top: 15px;
    right: 1px;
}

nav>ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-inline-start: 0;
    margin-block: 0;
    height: 100%;
    flex-wrap: wrap;
}

nav>ul>li {
    margin: 0 0.2rem;
    padding: 0.8rem;
    display: block;
}

li>a {
    color: #ffffff;
    text-decoration: none;
}

li>a:hover {
    color: #d86b1f;
    cursor: pointer;
}

li>a:active {
    color: #d86b1f;
    cursor: pointer;
}

.pro {
    color: #d86b1f;
}

main {
    padding: 120px;
    text-align: center;
}

section {
    display: flex;
    text-align: left;
}

.square {
    position: relative;
    margin: 10px 40px 10px 40px;
}

img {
    width: 100%;
    max-width: 275px;
    height: 225px;
    object-fit: cover;
}

.img1 {
    padding-left: 0;
    margin-left: 0;
}

.button {
    display: flex;
    height: 30px;
    padding: 0, 3px;
    background-color: #000000;
    border: solid 2px;
    border-color: #d86b1f;
    border-radius: 5px;
    overflow: hidden;
    outline: none;
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}

button:hover {
    cursor: pointer
}

.bottontext {
    display: flex;
    align-items: center;
    color: #d86b1f;
    font-size: 18px;
    padding: 0, 2px;
    height: 100%;
}

.see_more {
    position: absolute;
    right: 20px;
}

footer {
    width: 100%;
    font-size: 30px;
    height: 30px;
    color: #d86b1f;
    text-align: center;
    padding: 5px;
}

.contact_us {
    font-size: 25px;
}

footer>div>p {
    font-size: 20px;
}


div>span>a {
    color: #d86b1f;
}

div>span>a:hover {
    color: #ffffff;
}

div>span>a:active {
    color: #ffffff;
}

.icon {
    padding: 2px;
    margin: auto;
    max-width: 100px;
    max-height: 100px;
}